@import "./reset.css";
body {
  background-color: #f6f3f2;
}
a {
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #d33a2c;
  height: 120px;
}
.nav-left {
  display: flex;
  align-items: center;
}
.nav-icon {
  width: 80px;
  height: 80px;
}
.logo-text {
  font-size: 26px;
  font-weight: 800;
  color: white;
}

.logo-text p {
  font-size: 18px;
  margin-top: -7px;
  font-weight: 80;
}

.nav-list {
  width: 700px;
}

.nav-ul-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.nav-ul-list li {
  display: inline-block;
  justify-content: space-between;
  font-weight: bold;
  color: white;
  font-size: 22px;
}

.link-nav {
  color: white;
  padding: 6px 10px;
}

.cat-link {
  background: #8a2a21;
  border-radius: 8px;
}
.link-nav:hover {
  background: #93281f;
  border-radius: 8px;
}
.cat {
  width: 25px;
  height: 22px;
  padding-left: 7px;
  vertical-align: middle;
}

.form-search {
  position: relative;
}

.input-search {
  display: inline-block;
  width: 240px;
  height: 50px;
  border-radius: 10px;
  padding-left: 40px;
}

.input-search:focus {
  border: 1px dotted black;
}

.fa-search {
  position: absolute;
  left: 10px;
  top: 20px;
  color: red;
}
::placeholder {
  font-size: 20px;
  color: grey;
  font-weight: bold;
}

@media screen and (max-width: 900px) {
  .nav-right {
    visibility: hidden;
  }

  .nav-list {
    flex: 2;
  }
}

/* section */

section {
  background-color: #801717;
  position: relative;
}
.section-header {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
  font-size: 34px;
  z-index: 2;
}
.section-header span {
  background-color: white;
  padding: 10px;
  line-height: 45px;
  font-weight: bold;
  vertical-align: middle;
  color: #756a6a;
}
.section-header .sec-line {
  padding: 0 15px 15px;
}
.change-color {
  fill: #bc3428;
  width: 50px;
  vertical-align: middle;
}
.chng-color-button {
  position: absolute;
  right: 210px;
  top: 40px;
  background-color: white;
  display: inline;
  z-index: 2;

  vertical-align: middle;
}
.chng-color-button button {
  vertical-align: middle;
  position: absolute;
  top: 50%;
  margin-left: 5px;
  transform: translateY(-50%);
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  padding: 5px 10px;
}
.header-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
}

.header-author {
  height: 500px;
  padding-top: 80px;
  padding-left: 70px;
  position: relative;
}

.author-img {
  display: flex;
  align-items: center;
}

.author-img img {
  height: 60px;
  width: 60px;
  border: 4px solid white;
  border-radius: 5px;
}
.author-img h4 {
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
  align-self: flex-start;
  margin-top: 6px;
}
.author-img h4 span {
  font-weight: 200;
  font-size: 16px;
  margin-left: 10px;
}
.header-text {
  font-size: 45px;
  font-weight: bold;
  width: 85%;
  margin-top: 20px;
}
.section-header-comments {
  font-size: 18px;
}
.section-header-list {
  margin-top: 50px;
  list-style: none;
}

.section-header-list li {
  display: inline-block;
  margin-right: 20px;
  font-size: 18px;
  color: black;
}

.list-link {
  color: white;
  font-weight: bold;
}
.first-sec {
  background-color: #bc3428;
  padding-top: 180px;
}
.sec-sec {
  background-color: #c7372a;
  padding-top: 180px;
}
.ther-sec {
  background-color: #b13125;
}
.four-sec {
  background-color: #bc3428;
}

.section-header-arrow {
  position: absolute;
  bottom: 40px;
  color: white;
  font-size: 48px;
}

/* article section */

article {
}

.article-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 30px;
}

.article-container {
  height: 500px;
}

.article-column {
  margin-left: 40px;
  transition: all 0.5s;
}
.article-header {
  font-size: 32px;
  margin-top: 20px;
  text-decoration: underline;
  font-weight: bold;
  line-height: 35px;
  margin-bottom: 30px;
}

.article-header .author-name {
  margin-top: 50px;
}

.article-para {
  margin-top: 20px;
  font-size: 22px;
  line-height: 36px;
}

.flex-arrow {
  display: flex;
}

.sub-flex-arrow {
  align-items: center;
}
.article-arrow {
  color: red;
  font-size: 36px;
  justify-content: center;
}

.article-container:hover {
  transform: scaleX(1.1);
  background-color: white;
}
.members {
  display: grid;
  grid-template-columns: 2fr 4fr;
  margin: 5px 40px;
  grid-gap: 20px;
}

.members-num {
  background-color: #d33a2c;
  grid-column: 2/3;
  text-align: center;
  color: white;
  padding: 50px 10px 10px;
  border-radius: 10px;
}
.singing {
  width: 300px;
}
.members-num h1 a {
  font-size: 42px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #e58980;
  color: white;
}
.members-num p {
  width: 75%;
  font-size: 19px;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 30px;
  line-height: 30px;
}
.members-num p:last-child {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.members-num button a {
  color: #267dcc;
}
.members-num button a:hover {
  color: #d33a2c;
}
.members-num button {
  color: #267dcc;
  background-color: white;
  font-size: 20px;
  border: 0;
  padding: 15px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
}
.members-num button:hover a {
  color: #d33a2c;
}
.links-under {
  text-decoration: underline;
  text-decoration-color: #e58980;
  color: white;
}
